# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Environment variables
.env

# Static files
staticfiles/
media/

# IDE
.vscode/
.idea/

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/