Django
django-allauth
django-rest-framework
djangorestframework
django-cors-headers
django-redis
celery
redis
stripe
dj-stripe
django-constance
django-crispy-forms
crispy-bootstrap5
camelot-py
pandas
numpy
WeasyPrint
reportlab
django-storages
python-decouple
django-environ
Pillow
django-impersonate
django-activity-stream
gunicorn